<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Category Table</h1>
        <form action="/addcategory" method="post">
            <table>
              <tr>
                <td>categoty</td>
                <td> <input name="category" type="text"> </td>
                <td colspan="2" > <input type="submit" value="submit" ></td>
              </tr>                    
            </table>
            <a href="/">View</a>
        </form>
    </center>
</body>
</html>