    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>What's happening</title>
        <link rel="shortcut icon" href="/Assets/img/logo/twitter.png" type="image/x-icon">
        <!-- bootstrap link  -->
        <link href="/Assets/css/bootstrap.min.css" rel="stylesheet">
        <!-- font - awsome   -->
        <link rel="stylesheet" href="/Assets/css/all.min.css">
        <!-- custom css  -->
        <link rel="stylesheet" href="/Assets/css/style.css">
    </head>

    <body>
        <div class="container">
            <div class="row d-flex justify-content-between ">

                <!-- left side nevigation var  -->
                <div class="col-lg-3 nav-item-class">
                    <div class=" ">
                        <div class="nav-logo">
                            <img src="/Assets/img/logo/twitter.png" alt="logo" class="img-fluid">
                        </div>
                        <div class="navbar-list">
                            <ul type="none" class="m-0 p-0">
                                <li class="nav-item">
                                    <a href="/home "> <i class="fa-solid fa-house"></i> Home </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/home"> <i class="fa-solid fa-magnifying-glass"></i> Explore </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/home"> <i class="fa-regular fa-bell"></i> Notification </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/home"> <i class="fa-solid fa-envelope"></i> messages</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/home"> <i class="fa-brands fa-airbnb"></i> grok</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/home"> <i class="fa-solid fa-rectangle-list"></i> lists</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/home"> <i class="fa-regular fa-bookmark"></i> bookmarks</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/home"> <i class="fa-solid fa-user-group"></i> communities</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/home"> <i class="fa-brands fa-xing"></i> premium</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/home"> <i class="fa-solid fa-user"></i> profile</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/home"> <i class="fa-solid fa-ellipsis"></i> more</a>
                                </li>
                            </ul>
                            <div class="post-btn">
                                <button class="post-button w-100">
                                    <a href="/home">Post</a>
                                </button>
                            </div>
                        </div>

                        <div class="user-details d-flex " data-bs-toggle="dropdown" aria-expanded="false"
                            style="cursor: pointer;">
                            
                                <div class="user-img">
                                    <img src="<%= single.image %>" alt="user">
                                </div>
                        
                           
                            <div class="user-info">
                                <span class="user_name" value="<%= single.name %>"></span>
                                <span class="user_email" >nc002@gmail.com</span>
                            </div>
                            <div class="user-logout">
                                <div class="btn-group dropup">
                                    <i class="fa-solid fa-ellipsis"></i>
                                    <ul class="dropdown-menu  ">
                                        <h6><a href="#">add an existing account</a></h6>
                                        <a href="/logout">logout </a>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    <!-- main content part  -->
    <div class="col-lg-9 ">
        <section class="content-section d-flex">
            <div class="col-lg-8">
                <div class="topHead d-flex">
                   <div class="col-lg-5"> <h4 class="text-align-center">For you </h4></div>
                   <div class="col-lg-5"> <h4 class="text-align-center">For you </h4></div>
                   <div class="col-lg-2"> <h4 class="text-align-center">For </h4></div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="discription">
                    <div class="search-bar">
                        <input type="text" placeholder="search">
                    </div>
                </div>
                <div class="div-paratesting">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio velit vitae eligendi ratione ipsum aliquid ea explicabo distinctio quasi laudantium? Dolores repellat laboriosam quasi ipsum cum rerum ullam ex saepe magni! Aperiam non quo iusto quod at! In cum velit fugiat officia omnis laborum ipsa deleniti architecto! Sunt, ex fuga rem blanditiis sit doloremque at eos a expedita illum quia, fugit deserunt incidunt in iure ipsam dolores excepturi consectetur dolor aperiam architecto! Consectetur voluptates quod reprehenderit inventore enim! Eum odio maxime aspernatur sequi explicabo non illo fugiat expedita consequatur deleniti commodi, debitis et voluptate dolorum assumenda reiciendis quos minima, itaque, odit cum. Repellat, quas cupiditate modi aliquam aut ut ea consectetur quisquam aspernatur! Provident, laborum maxime? Unde quas cupiditate dolor ratione minus, nisi voluptas provident odit corporis accusamus nam quisquam a aut veritatis dolorum ipsam est consequatur voluptate odio architecto corrupti maiores quos? Odio aut, beatae laudantium ex doloribus quos dolores fugiat consequuntur! Provident atque culpa nihil quam ab voluptate fugit explicabo officiis neque quos excepturi illum, repellat distinctio numquam, delectus nulla quasi. Odio, labore? Autem quae aliquam fuga unde repellat neque aut at. Vel, omnis laboriosam! Ad incidunt odit magnam, laudantium praesentium quibusdam officiis nemo quis atque corrupti deleniti, quia necessitatibus eaque tempore pariatur placeat fugit? Modi beatae odit expedita, eveniet officiis quae maiores? Qui aliquam, earum tempora obcaecati quas nemo incidunt, quis illum temporibus molestias blanditiis quia eaque ad vel. Molestias nostrum sapiente architecto fuga distinctio facilis rem magnam, in optio dolorem nulla a tempore nobis dolore dolorum. Quae accusantium praesentium cum blanditiis quia eos numquam sint ad aut recusandae odio doloremque enim nisi cupiditate nostrum qui soluta ratione voluptate ullam, dolorem sunt, totam magnam corporis! Ipsa placeat autem veritatis numquam, qui minima odio? Expedita dicta optio deleniti voluptatibus harum perspiciatis minus delectus ea eos! Hic odio, suscipit ratione cum ducimus deleniti eius voluptates fugit aliquid ipsa necessitatibus voluptatibus! Quibusdam dolorem aut quaerat ullam commodi, doloremque, explicabo, nisi debitis tenetur aliquid voluptatibus blanditiis ex harum libero cum perferendis eius est nostrum minus iusto adipisci iste? Asperiores ullam aliquid ut est corporis culpa maxime incidunt. Autem tempora, consequuntur ea perspiciatis quibusdam eos exercitationem impedit vero illum minima earum eius natus, perferendis reprehenderit dolore dolores laboriosam ullam sint magnam corporis? Perspiciatis, numquam. Repudiandae id deleniti earum dolorem, mollitia veniam reprehenderit quisquam, dolorum ipsum, fugit nobis ex accusantium! Asperiores tempora ut possimus nulla nemo ab debitis cum nihil aliquid animi similique ea qui reprehenderit officia soluta quia, obcaecati aliquam dignissimos a consequatur non! Natus eligendi provident alias odio facilis? Tempora alias porro facere. Earum dignissimos odit, minus laudantium quia ut sint quasi soluta quo ab quaerat fuga ratione esse cum quos incidunt blanditiis exercitationem doloribus quis adipisci enim officiis dolor quisquam. Commodi praesentium quam nemo ad beatae deleniti obcaecati quod, dicta deserunt. Non laboriosam doloremque delectus quo consequatur esse animi nostrum aperiam debitis cumque necessitatibus in possimus provident odio at ut totam ipsa, cum quis quas ducimus incidunt saepe doloribus. Voluptatem perspiciatis eveniet beatae. Alias, nemo accusantium asperiores architecto corporis tenetur!</div>
            </div>
        </section>
    </div>
</div>

    <%- include('pages/footer') %>